<!doctype html>
<html>
  <head>
    <title>Welcome to <%=data.name%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <%- include('header') %>
  <body>
    <h1><%=data.name%></h1>
    <h2>Here are events in the next week:</h2>
    <ul>
      <% availableEvents.forEach(function(events) { %>
        <li><%= events.name %>, <%= events.description %> </li>
      <% }) %>
    </ul>
    </body>
</html>
