<!doctype html>
<html>
  <head>
    <title>Profile - <%=data.name%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <%- include('header') %>
  <body>
    <h1>Hello, <%= username %> </h1>
    <p>This is your profile:</p>
    <p>Name: <%= firstName %> <%= lastName %> </p>
    <p><a href="./logout">Logout</a></p>
  </body>
</html>