<!doctype html>
<html>
<head>
    <title>Weather Result</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>
<%- include('header') %>
<body>
    <h1>Weather in <%= city %></h1>
    <p>Temperature: <%= temperature %>°C</p>
    <p>Humidity: <%= humidity %>%</p>
    <p>Wind: <%= wind %></p>
    <a href="/weather/">Search another city</a>
</body>
</html>
